@font-face {
  font-family: "Pretendard";
  font-weight: normal;
  src: url("./assets/fonts/pretendard/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./assets/fonts/pretendard/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./assets/fonts/pretendard/Pretendard-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}
